h1 a {
    color: #008080;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  flex-wrap: nowrap;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}